<div class="AknFieldContainer">
    <div class="AknFieldContainer-header">
        <label class="AknFieldContainer-label control-label AknFieldContainer-label required"
               for="kiwee_testconfig___test_var">
            <%- _.__('kiwee.testconfig.test_var.label') %>
        </label>
    </div>
    <div class="AknFieldContainer-inputContainer field-input">
        <input class="kiwee-config  AknTextField"
               id="kiwee_testconfig___test_var"
               name="kiwee_testconfig___test_var"
               type="text" value="<%- test_var %>"/>
    </div>
    <div class="AknFieldContainer-footer">
        <%- _.__('kiwee.testconfig.test_var.description') %>
    </div>
</div>